body {
	padding-top: 4.5rem;
	background-color: #f0f0f0;
}

a, a:hover, a:visited, a:link, a:active{
	text-decoration: none;
	
}

.navbar-brand div {
	width: 2.2rem;
}

/*#map-container {
	padding-left: 1rem;
	padding-right: 1rem;
}*/
button {
	cursor: pointer;
}

#movemenu button {
	width: 100%;
	background-color: #f0f0f0;
}

#movemenu button:hover {
	color: #A8A8A8;
}

.orderList {
	font-size: 9pt;
	line-height: 1px;
	border-collapse: collapse;
}

.orderList tr:first-child {
	border-top: none;
}

.orderList tr {
	border-top: 1px solid #ddd;
	margin-top: 100px;
}

.orderList th, .orderList td {
	padding: 3px 8px 6px 8px;
	vertical-align: top;
}

.orderlist td {
	padding-right: 10px;
}

.game-container {
	padding-left: 1rem;
	padding-right: 1rem;
	/*height: 100%;*/
	min-height: 410px;
	margin-bottom: 20px;
}

.game-container .status-row {
	height: 20%;
}

.game-container .order-row {
	height: 80%;
}

#order-container {
	height: 95%;
	width:100%;
	padding: 10px;
}

#status-container {
	height: 95%;
	width: 100%;
	padding: 10px, 0, 0, 10px;
	box-sizing: border-box;
}

#movemenu {
	position: absolute;
	padding: 5px;
}

label, h1, h2, h3, h4, h5, h6, p {
	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/*.image-container {
	overflow: hidden;
}

.image-container img {
	max-width: 100%;
	height: auto;
	display: block;
}

#banner {
	width: 100%;
	height: 6rem;
	background-color: blue;
	text-align: center;
	padding: 1rem 0;
}

#icon-image-container {
	position: absolute;
	left: 1rem;
	max-height: 90%;
	width: 5rem;
	background-color: white;
	display: inline-block;
	border-radius: 50%;
}

#banner, h1 {
	display: inline-block;
	font-size: 2rem;
}*/